skipsdist = true
skip_missing_interpreters = true
envlist = [ "lint", "unit", "static", "coverage-report" ]

[env_run_base]
passenv = [ "PYTHONPATH", "CHARM_BUILD_DIR", "MODEL_SETTINGS" ]
runner = "uv-venv-lock-runner"

[env_run_base.setenv]
PYTHONPATH = "{toxinidir}:{toxinidir}/lib:{[vars]src_path}"
PYTHONBREAKPOINT = "ipdb.set_trace"
PY_COLORS = "1"

[env.fmt]
description = "Apply coding style standards to code"
commands = [ [ "isort", "{[vars]src_path}", "{[vars]tst_path}" ], [ "black", "{[vars]src_path}", "{[vars]tst_path}" ] ]
dependency_groups = [ "fmt" ]

[env.lint]
description = "Check code against coding style standards"
commands = [
  [
    "pydocstyle",
    "{[vars]src_path}",
  ],
  [
    "codespell",
    "{toxinidir}",
    "--skip",
    "{toxinidir}/.git",
    "--skip",
    "{toxinidir}/.tox",
    "--skip",
    "{toxinidir}/build",
    "--skip",
    "{toxinidir}/lib",
    "--skip",
    "{toxinidir}/venv",
    "--skip",
    "{toxinidir}/.mypy_cache",
    "--skip",
    "{toxinidir}/icon.svg",
  ],
  [
    "pflake8",
    "{[vars]src_path}",
    "{[vars]tst_path}",
    "--ignore=W503",
  ],
  [
    "isort",
    "--check-only",
    "--diff",
    "{[vars]src_path}",
    "{[vars]tst_path}",
  ],
  [
    "black",
    "--check",
    "--diff",
    "{[vars]src_path}",
    "{[vars]tst_path}",
  ],
  [
    "mypy",
    "{[vars]src_path}",
    "{[vars]tst_path}",
  ],
  [
    "pylint",
    "{[vars]src_path}",
    "{[vars]tst_path}",
  ],
]
dependency_groups = [ "lint" ]

[env.unit]
description = "Run unit tests"
commands = [
  [
    "coverage",
    "run",
    "--source={[vars]src_path}",
    "-m",
    "pytest",
    "--ignore={[vars]tst_path}integration",
    "-v",
    "--tb",
    "native",
    "-s",
    { replace = "posargs", extend = "true" },
  ],
  [
    "coverage",
    "report",
  ],
]
dependency_groups = [ "unit" ]

[env.coverage-report]
description = "Create test coverage report"
commands = [ [ "coverage", "report" ] ]
dependency_groups = [ "coverage-report" ]

[env.static]
description = "Run static analysis tests"
commands = [ [ "bandit", "-c", "{toxinidir}/pyproject.toml", "-r", "{[vars]src_path}" ] ]
dependency_groups = [ "static" ]

[env.integration]
description = "Run integration tests"
commands = [
  [
    "pytest",
    "-v",
    "--tb",
    "native",
    "--ignore={[vars]tst_path}unit",
    "--ignore={[vars]tst_path}scenario",
    "--log-cli-level=INFO",
    "-s",
    { replace = "posargs", extend = "true" },
  ],
]
dependency_groups = [ "integration" ]

[vars]
src_path = "{toxinidir}/src/"
tst_path = "{toxinidir}/tests/"
